body {
    font-family: "Source Serif 4", Georgia, serif;
    background-color: #F1DFD0;
}
.index {
    width: 100%;
    text-align: center;
}
.title {
    width: 100%;
}
.recipes {
    align-items: center;
    background-color: #4B88BB;
    display: inline-block;
    border-radius: 5%;
    padding: 20px;
}

.recipes a {
    display: block;
    padding: 10px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}